:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  color: rgb(64, 76, 97);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navButton:hover{
  border-bottom: 3px solid rgb(64, 76, 97);
  outline: none;
  border-radius: 0px;
}

.navButton:focus,
.navButton:focus-visible {
  border-bottom: 3px solid rgb(64, 76, 97);
  outline: none;
  border-radius: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*fieldset.MuiOutlinedInput-notchedOutline {*/
/*  border-radius: 0px;*/
/*  border-color: rgb(64, 76, 97);*/

/*}*/

/*.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {*/
/*  color: rgb(64, 76, 97);*/
/*}*/

.aboutImage {
  background-image: url("../images/aboutus.jpg");
  width:70%;
  height:250px;
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: contain;
  margin-left: 320px;
}

.apartmentsPageImage{
  background-image: url("../images/grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  width:100%;
  height:400px;
  justify-content:flex-end;
  align-items:center;
  background-position: center center;
}

.aboutUsImage{
  background-image: url("../images/aboutus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  width:100%;
  height:400px;
  justify-content:flex-end;
  align-items:center;
  background-position: center center;
}

.contactImage{
  background-image: url("../images/green (2).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  width:100%;
  height:400px;
  justify-content:flex-end;
  align-items:center;
  background-position: center 60%;
}

.searchImage{
  background-image: url("../images/olive2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  width:100%;
  height:400px;
  justify-content:flex-end;
  align-items:center;
  background-position: center 80%;
}



.phoneClass input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  display: none;
}

/*.phoneClass input::-webkit-inner-spin-button{*/
/*  display: none;*/
/*}*/